.add-todo__input-field {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  border: 1px solid #4a90e2;
  font-size: 1.4rem;
  margin-right: 2rem;
  width: 25rem;
}

.add-todo__input-field:focus {
  outline: none;
  box-shadow: 0 0 3px 2px #4a90e266;
}

.add-todo__submit-btn {
  transition: all 200ms ease-in-out;
  padding: 1rem 1rem;
  background-color: white;
  border: 1px solid #4a90e2;
  border-radius: 4px;
  color: #4a90e2;
}

.add-todo__submit-btn:focus {
  outline: none;
  box-shadow: 0 0 3px 2px #4a90e266;
}

.add-todo__submit-btn:hover {
  color: white;
  background-color: #4a90e2;
  cursor: pointer;
}
